* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: white;
  max-width: 1440px;
  min-width: 320px;
}

.main_content {
  border-radius: 2%;
  background-color: hsl(0, 0%, 12%);
  width: 270px;
  font-size: 10px;
  padding-bottom: 30px;
  margin: 4% 37.5%;
}

img {
  width: 70px;
  border-radius: 50px;
  margin: 30px 100px;
}

.title_pragraf {
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
  font-size: 17px;
}

p {
  text-align: center;
}

.pragraf_1 {
  color: hsl(75, 94%, 57%);
}
.pragraf_2 {
  margin: 25px 0px 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  width: 230px;
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  border-radius: 6px;
  display: block;
}
a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  font-weight: bold;
}
