* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: white;
}

.main_content {
  outline: 2px solid white;
  border-radius: 2%;
  background-color: hsl(0, 0%, 12%);
  width: 25%;
  max-width: 1440px;
  min-width: 320px;
  font-size: 14px;
  margin: 10% 37.5%;
}

img {
  margin: 10% 33%;
}

img {
  width: 100px;
  border-radius: 50px;
}

h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
}

.pragraf_1 {
  color: hsl(75, 94%, 57%);
}

ul {
  list-style: none;
}

li {
  width: 80px;
  margin: 3% 10%;
  padding: 10px;
  text-align: center;
  background-color: hsl(75, 94%, 57%);
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: white;
}
